<html>
    <body>
        Hello New World!
        <form method="POST" action="/new">
            <input type="text" id="postAuthor" name="postAuthor" />
            <input type="text" id="postText" name="postText" />
            <button>Submit</button>
        </form>
    </body>
</html>