<html>
    <body>
        Hello New World!
        <form method="POST" action="/new">
            <input type="text" id="name" />
            <input type="text" id="textInfo" />
            <button>Submit</button>
        </form>
    </body>
</html>