<html>
    <body>
        <div class="message">
            <span><%= message.added %></span>
            <span><%= message.user %></span>
            <span><%= message.text %></span>
        </div>
        <a href="/">Return</a>
    </body>
</html>